body::before {
    display: block;
    content: '';
    height: 70px;
}
@media (min-width: 768px) {
    .newsletter{
        width: 50%;
    }
}
.map{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
